*{
    box-sizing:content-box;
}

html, body{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#container{
    max-width: 250px;
    height: 350px;
    background-color: darkgray;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}
#screen{
    border: 2px solid black;
    width: 250px;
    height: 50px;
    background-color: aqua;
    align-content: center;
    font-size: 1.4em;
}
#screen-hist{
    border: 2px solid black;
    width: 200px;
    height: 25px;
    background-color: aqua;
}
.button-row{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}
.button{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    /*box-shadow: 4px 4px 1px 2px grey;*/
}
.button:hover{
    background-color: rgb(238, 209, 176);
}
.button:active{
    background-color: rgb(228, 198, 163);
}

.button-full{
    height: 50px;
    width: 50px;
}

.button-half{
    height: 25px;
    width: 42px;
}

span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font
    padding: 1em .4em;
}